{% extends '_base.html'%}
{% load crispy_forms_tags %}
{% block title %}TxTJokes{% endblock title %}

{% block content %}


<div class="jumbotron">

  <h1 class="display-3">TxTJokes</h1>
    {% if user.is_authenticated %}
      <p class="lead">Hi {{ user.email }}! Ready to send a Joke?</p>
      <hr class="my-4">
      <p>You can send a joke to a friend by adding their number in the form below.</p>
      <form action="{% url 'sendjoke'%}" method="post">
      {% csrf_token %}
      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
        <div class="form-group">
            {{form|crispy}}
      
        <button class="btn btn-primary btn-lg" type="submit"> Send the lol!</button>
      
      </form>
  
    {% else %}
      <p class="lead">Hi new friend!</p>
      <p class="card-text">You are not logged in</p>
      <hr class="my-4">
      <p>Please login or register a new account to use TxTJokes</p>
      <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'account_login' %}" role="button">Sign in</a>
      <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}" role="button">Register</a>
      </p>
    {% endif %}
<div>

{% endblock content %}